
.canva {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 0;
}
#myCanvas {
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-repeat: round;
    z-index: 1;
    border: 8px;
    border-radius: 8px;
    filter: drop-shadow(32px 32px 32px rgb(156, 156, 240));
    
}

.wrapper {
    display: flex;
    flex-direction: column;
}
#score {
    color: blue;
    display: flex;
    align-items: center;
}

.title{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: blue;
    padding: 8px;   
    letter-spacing: 0.5rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  0 1rem 1rem 1rem;
}

.controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button{
    border-radius: 2px;
    border: 1px solid blue;
    color: blue;
    margin: 4px;
    width: fit-content;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    text-align: center;
}
.but{
    display: flex;
    align-items: row;
}
.button:hover {
    background-color: blue;
    color: white;
}

.display-right {
    left: 800px;
}

.linked {
    height: 3rem;
    width: 3rem;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer a {
    padding: 2rem 1rem 1rem;
}
.git {
    height: 3rem;
    width: 3rem;
}

.bubbles {
    height: 3.5rem;
    width: 3.5rem;
}

.folder{
    display: flex;
    align-items: center;
    text-align: center;
    color: blue;
}

.folder:hover{
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    padding-left: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
.modal2 {
    display: none;
    position: fixed; 
    padding-top: 50px;
    padding-left: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.close-button {
    padding: 0;
    position: absolute;
    background: transparent;
    right: 14.7rem;
    font-size: 28px;
    color: rgb(64,64,64);
    top: 3rem;
    z-index: 13;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border-radius: 8px;
}
.key {
    text-align: center;
    height: 28px;
    width: 32px;
    font-family: arial;
    border: 1px;
    border-radius: 8px;
    color: black;
    background-color:  rgb(177, 173, 173);
    filter: drop-shadow(8px 8px 8px rgb(204, 202, 202));
    padding-top: 8px;
}

.key2 {
    text-align: center;
    height: 28px;
    width: 64px;
    font: arial;
    border: 1px;
    border-radius: 8px;
    color: black;
    background-color:  rgb(177, 173, 173);
    filter: drop-shadow(8px 8px 8px rgb(177, 176, 176));
    padding-top: 8px;
}

.key-row {
    display: flex;
    margin-left: 0.8rem;
}

.key-row>.key{
    margin-left: 8px;
    margin-right: 8px;
}
.normal {
    display: flex;
    align-items: center;
    text-align: center;
}

.instructions {
    margin-top: 10vh;
    padding: 16px;
}