
.canva {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: url('./images/bubbles.jpg'); 
    background-size: cover;
    z-index: 0;
}
#myCanvas {
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-repeat: round;
    z-index: 1;
    border: 1px solid blue;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
}
#score {
    color: blue;
    display: flex;
    align-items: center;
}

.title{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: blue;
    padding: 8px;   
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  0 1rem 1rem 1rem;
}

.controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button{
    border-radius: 2px;
    border: 1px solid blue;
    /* background-color: blue; */
    color: blue;
    margin: 4px;
    width: fit-content;
}
.but{
    display: flex;
    align-items: row;
}
.button:hover {
    background-color: blue;
    color: white;
    border-radius: 2px;
    /* height: 20px; */
}

.display-right {
    left: 800px;
}

.linked {
    /* padding-top: 1rem; */
    height: 2rem;
    width: 2rem;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer a {
    padding: 1rem;
}
.git {
    height: 2rem;
    width: 2rem;
}

.bubbles {
    height: 2.5rem;
    width: 2.5rem;
}

.folder {
    height: 2.5rem;
    width: 2rem;
    padding-top: .3rem;
}