/* html { 
    background: url('../images/bubbles_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

#myCanvas {
    align-self: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: space;
    z-index: 0;
    border: 1px solid red;
}


.title{
    font-size: xx-large;
    font-weight: 600;
     text-align: center;
    color: blue;
    padding: 8px;   
}
.container {
    display: flex;
    flex-direction: row;
    /* position: relative; */
   
}
.display-right{
    text-align: center;
}
.controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button{
    border-radius: 2px;
    border: 1px solid blue;
    /* background-color: blue; */
    color: blue;
    margin: 4px;
    width: fit-content;
}
.but{
    display: flex;
    align-items: row;
}
.button:hover {
    background-color: blue;
    color: white;
    border-radius: 2px;
    /* height: 20px; */
}

.display-right {
    left: 800px;

}